.header {
  display: flex;
  padding-top: 1.5rem;
  align-items: center;
  font-size: 0.875rem;
}

.img {
  width: 100px;
  margin-right: 2.3rem;
}
.nav {
  display: flex;
  width: 100%;
}
.nav ul {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
}
.nav ul li a {
  color: var(--Gray);
  font-weight: 600;
}

.nav ul li a:hover {
  color: var(--Dark-Violet);
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  background-color: var(--Cyan);
  color: white;
  font-weight: 600;
}

.button:hover {
  background-color: hsl(180, 66%, 66%);
}

.userBox {
  margin-left: auto;
}

.login {
  margin-right: 1rem;
  color: var(--Gray);
  font-weight: 600;
}

.hamburguer {
  display: none;
}

@media (max-width: 45rem) {
  html {
    font-size: 14px;
  }
  .header {
    justify-content: space-between;
  }
  .hamburguer {
    display: block;
    width: 36px;
    height: 6px;
    border-radius: 4px;
    background: var(--Cyan);
    box-shadow: 0 10px 0 0 var(--Cyan), 0 -10px 0 0 var(--Cyan);
  }
  .nav {
    display: none;
  }
  .nav:global(.active) {
    display: flex;
    position: absolute;
    background: var(--Dark-Violet);
    border-radius: 16px;
    text-align: center;
    flex-direction: column;
    top: 5rem;
    right: 1.2rem;
    max-width: 20rem;
    padding: 1.5rem 1.5rem;
    z-index: 1000;
  }
  .nav ul {
    display: initial;
  }
  .nav ul li {
    line-height: 4;
  }

  .nav ul li:nth-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
  }
  .nav ul li a {
    font-size: 1.3rem;
    color: #fff;
  }
  .login {
    display: block;
    color: #fff;
  }
  .button {
    display: block;
    margin-top: 1rem;
    padding: 1rem 1rem;
  }
  .userBox {
    margin-left: initial;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}
