.section {
  margin-top: 5rem;
}
.contentPhoto {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  color: var(--Very-Dark-Blue);
  font-size: 3.3rem;
  font-weight: bolder;
  line-height: 1.1;
}

.subtitle {
  color: var(--Gray);
  max-width: 27rem;
  margin-bottom: 1.5rem;
}

.contentPhoto span {
  flex: 1;
}

.boxImg {
  flex: 1;
}

.formUrl {
  background: var(--Dark-Violet) url(../Assets/Imagens/bg-shorten-desktop.svg)
    top right;
  margin: 3rem auto 1rem auto;
  padding: 2.5rem 3rem;
  border-radius: 8px;
  position: relative;
}

.form {
  display: flex;
  gap: 1rem;
}

@media (max-width: 45rem) {
  .contentPhoto {
    flex-direction: column-reverse;
    text-align: center;
  }

  .title {
    font-size: 2.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .subtitle {
    line-height: 1.7;
  }
}

@media (max-width: 45rem) {
  .formUrl {
    padding: 1rem 1rem;
  }
  .form {
    display: initial;
  }
}
