.result {
  background: #eee;
  border-radius: 8px;
  padding: 1rem;
  max-width: 55rem;
  margin: 0 auto;
}
.resultItem {
  display: flex;
  align-items: center;
}

.urlUser {
  flex: 1;
  color: var(--Very-Dark-Blue);
  font-weight: bold;
}

.url {
  margin-right: 1rem;
  color: var(--Cyan);
}

.button {
  display: inline-block;
  padding: .3rem 1.3rem;
  border-radius: 8px;
  background-color: var(--Cyan);
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(180, 66%, 66%);
}
