.semiFooter {
  margin-top: 4rem;
  padding: 2.5rem 0;
  text-align: center;
  background: var(--Dark-Violet) url(../Assets/Imagens/bg-boost-desktop.svg)
    center center;
}

.title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

@media (max-width: 45rem) {
  .semiFooter {
    padding: 4rem 0;
    background: var(--Dark-Violet) url(../Assets/Imagens/bg-boost-mobile.svg)
      center right;
      background-size: cover;
  }
  .title {
    font-size: 1.8rem;
  }
}
